<hr />
<div ng-init="Initialize()">
    <div ng-show="IsProcessing">
        Processing...
    </div>
    <div ng-show="Entries.length > 0 && Success">
        <table>
            <thead>
                <tr>
                    <th>Blog Date</th>
                    <th>Blog Text</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in Entries | orderBy:'-BlogDate'">
                    <td>{{entry.BlogDate | date}}</td>
                    <td>{{entry.BlogText}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-danger" ng-show="!Success && ErrorMessage.length > 0">
        {{ErrorMessage}}
    </div>
</div>